# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

name: Azure Pipelines

# disable CI trigger
trigger:
  none

# trigger on PR to dev branch only for relevant file changes
pr:
  branches:
    include:
    - develop
  paths:
    include:
    - '**/*.py'
    - '.github/azure-pipelines.yml'
    - 'Dockerfile'
    - 'requirements.txt'

pool:
  vmImage: ubuntu-latest

strategy:
  matrix:
    # rem out 3.09 thru 3.12 to save CI time
    # Python309:
    #   python.version: '3.9'
    # Python310:
    #   python.version: '3.10'
    # Python311:
    #  python.version: '3.11'
    # Python312:
    #  python.version: '3.12'
    Python313:
      python.version: '3.13'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
    # githubToken: $(THERMOSTATSUPERVISOR_PR)
    # github token appears to enforce only supported python versions, ref #884
    # v3.13 is not supported by ubuntu-latest, once it is, the github token can be enabled.
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip list
  displayName: 'Install dependencies'

# line length and extend-ignore options added for compatibility with black
- script: |
    python -m pip install flake8 --upgrade
    flake8 --config=setup.cfg .
  displayName: 'Run lint tests'

# python unit tests
- script: |
    # python -m unittest discover -v
    # discover process is not allowing argv override so calling unit_test_common instead.
    python -m tests.unit_test_coverage
  displayName: 'Unit Tests'
  # timeout after 30 minutes, nominal job time is 10 minutes
  timeoutInMinutes: "30"
  env:
    GMAIL_USERNAME: '$(GMAIL_USERNAME)'  # used for some unit tests
    GMAIL_PASSWORD: '$(GMAIL_PASSWORD)'  # used for some unit test
    TCC_USERNAME: '$(TCC_USERNAME)'  # used for Honeywell int test
    TCC_PASSWORD: '$(TCC_PASSWORD)'  # used for Honeywell int test
    SHT31_REMOTE_IP_ADDRESS_1: '$(SHT31_REMOTE_IP_ADDRESS_1)'
    # SHT31_REMOTE_IP_ADDRESS_99: '$(SHT31_REMOTE_IP_ADDRESS_99)'
    KUMO_USERNAME: '$(KUMO_USERNAME)' # used for kumocloud int test
    KUMO_PASSWORD: '$(KUMO_PASSWORD)' # used for kumocloud int test
    BLINK_USERNAME: '$(BLINK_USERNAME)' # used for blink int test
    BLINK_PASSWORD: '$(BLINK_PASSWORD)' # used for blink int test
    BLINK_2FA: '$(BLINK_2FA)' # used for blink int test

# build docker image
- script: |
    # Set image and tag variables
    image="${DOCKER_USERNAME}/thermostatsupervisor"
    tag="develop"
    # Build the Docker image
    docker build -t ${image}:${tag} .
  displayName: 'Build Docker Image'
  env:
    DOCKER_USERNAME: '$(DOCKER_USERNAME)'

# docker scout CVE scanning
- task: CmdLine@2
  displayName: Find CVEs on image
  inputs:
    script: |
      # Install the Docker Scout CLI
      curl -sSfL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh | sh -s --
      # Login to Docker Hub required for Docker Scout CLI
      docker login -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
      # Get a CVE report for the built image and fail the pipeline when critical or high CVEs are detected
      docker scout cves ${DOCKER_USERNAME}/thermostatsupervisor:develop --exit-code --only-severity critical,high
  env:
    DOCKER_USERNAME: '$(DOCKER_USERNAME)'
    DOCKER_PASSWORD: '$(DOCKER_PASSWORD)'

# publish code coverage results to ADO pipeline 
- task: PublishCodeCoverageResults@2
  inputs:
    summaryFileLocation: 'coverage.xml'
  displayName: 'Publish Code Coverage'
