
aiohttp>=3.9.0b0; python_version>='3.12'  # blinkpy py3.12 dependency
blinkpy>=0.20.0  # blink cameras
build>=1.0.0  # python package builds
coverage>=7.2.5  # unit test coverage
dnspython>=2.3.0  # DNS exception type
flask>=2.3.2  # flask servers
flask_apscheduler>=1.12.4  # flask scheduled apps
flask-ipban>=1.1.5  # blacklisting hacker ips
flask_restful>=0.3.9  # flask servers
flask_wtf>=1.1.1  # CSRF protection on flask servers
google-api-python-client>=2.96.0  # nest thermostat
google.cloud>=0.34.0  # google api auth
munch>=3.0.0  # munch classes, replaced bunch
psutil>=5.9.5  # process id utility
pyhtcc>=0.1.53  # Honeywell TCC library
pykumo>=0.3.5  # kumocloud library
radiotherm>=2.1.0  # 3m50 library
requests>=2.28.2  # used by Honeywell and mmm at least
setuptools>=67.7.1  # not in repo but azdo native version has vulnerability
str2bool>=1.1  # input parameter parsing