coverage==5.5  # unit test coverage
flask_restful==0.3.9  # flask server
flask_wtf==1.0.0  # CSRF protection
psutil==5.8.0  # process id utility
pyhtcc==0.1.6  # Honeywell TCC library
pykumo==0.1.12  # kumocloud library
radiotherm==2.1.0  # 3m50 library