name: black-action
"on":
  push:
    branches:
      - develop
      - 'feature/*'
      - 'bugfix/*'
      - 'hotfix/*'
  pull_request:
    branches:
      - develop
permissions:
  contents: write
jobs:
  linter_name:
    name: runner / black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.THERMOSTATSUPERVISOR_PR }}
          fetch-depth: 0
      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."
      - name: Commit changes
        if: steps.action_black.outputs.is_formatted == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m ":art: Format Python code with psf/black"
          git push origin HEAD:${{ github.head_ref || github.ref_name }}
